body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}


select {
    padding: 10px;
    font-size: 16px;
}


#myImage {
    margin-top: 20px;
    width: 300px;  
    height: auto;  
    border-radius: 10px;
}